<div class="container">
    <div class="child-container">
        <img [src]="'image/logo-1.png'" height="60" class="logo-image">
        <h1 class="title">E-Learning</h1>
    </div>
    <div id="nav-container">
        <nav>
            <a routerLink="home" routerLinkActive="active">Home</a>
            <a routerLink="about" routerLinkActive="active">About</a>
            <a routerLink="register" routerLinkActive="active">Register</a>
            <a routerLink="login" routerLinkActive="active">Login</a>
        </nav>
    </div>
</div>
<div class="image-container">
    <div>
        <h1 class="heading">Welcome to E-Learning</h1>
        <p>Empowering you to learn,grow and succeed in your educational journey!Our Platform is designed to offer seamless learning experience with  a wide variety of courses,interactive resources and dedicated support</p>
    </div>
    <img [src]="'image/background2.jpg'" class="image">
</div>