<div class="container">
    <h1 class="title">Professor Registration</h1>
    <form class="form-list">
        <table class="table-container">
            <tr>
                <td><label>Full Name</label></td>
                <td><input type="text" placeholder="Enter your first name" class="input-box"></td>
                <td><label class="labels">Gender</label></td>
                <td><input type="text" placeholder="Enter your gender" class="input-box"></td>
            </tr>
            <tr>
                <td><label>User Name</label></td>
                <td><input type="text" placeholder="Enter user name" class="input-box"></td>
                <td><label class="labels">Department</label></td>
                <td><input type="text" placeholder="Enter your department" class="input-box"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" placeholder="Enter your password" class="input-box"></td>
                <td><label class="labels">Years of Experience</label></td>
                <td><input type="text" placeholder="Enter your Experience" class="input-box" ></td>
            </tr>
            <tr>
                <td><label>Confirm Password</label></td>
                <td><input type="password" placeholder="Enter your Password" class="input-box"></td>
                <td><label class="labels">Qualifications</label></td>
                <td><input type="text" placeholder="Enter your Qualifications" class="input-box"></td>
            </tr>
            <tr>
                <td><label>E-mail</label></td>
                <td><input type="email" placeholder="Enter your e-mail" class="input-box"></td>
                <td><label class="labels">Contact-no</label></td>
                <td><input type="tel" placeholder="Enter Contact No" class="input-box"></td>
            </tr>
        </table>
    </form>
    <p class="accept"><input type="checkbox">I accept the terms and Conditions</p>
    <button class="register-btn">Register</button>
    <p class="login">Already Have an Account ? <a routerLink="login">Login here</a></p>
</div>


