<div class="form-container">
    <h1 class="title">Login</h1>
    <form class="form-list">
        <table class="row">
            <tr>
                <td><label>Select Role</label></td>
                <td >
                    <select id="option-box">
                        <option>Admin</option>
                        <option>Professor</option>
                        <option>Student</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>User Name</label></td>
                <td><input type="text" class="input-box" placeholder="Enter your usename"></td>
            </tr>
            <tr>
                <td><label>E-mail</label></td>
                <td><input type="email" class="input-box" placeholder="Enter your e-mail"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" class="input-box" placeholder="Enter your Password"></td>
            </tr>
            <tr>
                <td><label>Confirm Password</label></td>
                <td><input type="password" class="input-box" placeholder="Enter your Password"></td>
            </tr>
        </table>
    </form>
    <div class="container">
        <h5><input type="checkbox">Remember Me</h5>
        <h5>Forgot Password?</h5>
    </div>
    <button class="login-btn">Login</button>
    <p class="register">Don't Have an Account ? <a routerLink="register">Register here</a></p>
</div>

