.container{
    width: 1000px;
    height: 550px;
    background-color: lavender;
    margin-left: 160px;
    margin-top: 50px;
    font-family: Arial;
    border-radius: 80px;
}
.title{
    text-align: center;
    padding-top: 20px;
}
.table-container{
    border-spacing:15px 25px;
}
.form-list{
    padding-left: 30px;
    font-size: 18px;
}
.input-box{
    height:40px;
    width:230px;
    margin-left: 30px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    font-size: 15px;
}
.accept{
    padding-left: 70px;
}
.register-btn{
    margin-left: 350px;
    height: 38px;
    width: 350px;
    margin-top: 18px;
    border-radius: 50px;
    font-size: 20px;
    background-color: purple;
    color: white;
    border: none;
}
.login{
    margin-left: 390px;
    margin-top: 25px;
}
.labels{
    margin-left:35px;
}