<div class="container">
<h1 class="title">About Us</h1>
<img [src]="'image/background.jpeg'" height="300px" width="300px" class="image">
<p class="para">Welcome to a world where learning has no boundaries! Our E-learning platform is designed for students, educators, and innovators who believe that education should be as dynamic and accessible as the digital age.
    Imagine a classroom that fits right in your pocket—one that’s available anytime, anywhere, and adapts to your learning style. From immersive courses to interactive projects, we empower you to chart your own academic journey, whether you’re a curious student, a passionate professor, or an organized administrator.
    Here, we believe that education is more than just grades and assignments—it’s about growth, collaboration, and innovation. Our platform is built with these principles at heart, offering personalized dashboards, real-time collaboration tools, and secure, role-based access for every user.
    Dive in and discover a smarter way to learn. Because with us, the future of education isn’t just bright—it’s already here.
</p>
</div>